.site_header {
  position: fixed;
  width: 100%;
  z-index: var(--z-header);
  display: flex!important;

  @media (min-width: 1024px) {
    max-width: var(--site-width);
    margin: 3px auto 0;
  }
}

